.profile-top {
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
    &__tools {
        padding: 15px;
        background-color: #f5f5f5;
        border-radius: 3px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: 800px) {
            flex-direction: column;
        }
    }
    &__wrapper {
        padding-top: 3px;
        @media only screen and (max-width: 800px) {
            order: -1;
            text-align: center;
            padding: 0 0 10px 0;
        }
    }
    &__filter {
        text-decoration: none;
        padding: 0 6px 3px;
        color: #003;
        &_active {
            border-bottom: 1px solid #e16464;
            text-decoration: none;
            padding: 0 6px 3px;
            color: #003;
        }
    }
    &__search {
        @media only screen and (max-width: 800px) {
            text-align: center;
            padding: 15px 10px 10px 5px;
        }
    }
    &__input {
        font-size: 14px;
        border: 1px solid #eaeaea;
        padding: 5px 25px 5px 10px;
        margin: 0;
        @media only screen and (max-width: 800px) {
            width: 80%;
        }
    }
    &__button {
        background: url(https://www.consumercomplaints.in/fw/magn.png) 50% 50%
            no-repeat;
        width: 12px;
        height: 12px;
        display: inline-block;
        margin-left: -20px;
        vertical-align: middle;
        color: #105cb6;
        text-decoration: none;
    }
    &__list {
        padding: 0;
        margin-top: -5px;
        width: 100%;
    }
    &__item {
        display: flex;
        padding: 10px 0;
        border-bottom: 1px solid #eaeaea;
        @media only screen and (max-width: 640px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__left {
        display: flex;
        width: 50%;
        align-items: flex-end;
        @media only screen and (max-width: 640px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
    &__right {
        display: flex;
        width: 50%;
        justify-content: space-between;
        align-items: flex-end;
        @media only screen and (max-width: 640px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__image {
        width: 54px;
        height: 54px;
        background: tomato;
        user-select: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        border-radius: 50%;
        font-size: 18px;
        font-weight: 700;
        margin-right: 15px;
        &_avatar {
            width: 54px;
            height: 54px;
            background-size: cover;
            border-radius: 50%;
        }
        @media only screen and (max-width: 640px) {
            margin: 0;
        }
    }
    &__info {
        font-size: 14px;
        color: #999;
        @media only screen and (max-width: 640px) {
            padding-bottom: 10px;
        }
    }
    &__name {
        text-decoration: none;
        color: green;
        @media only screen and (max-width: 640px) {
            padding: 10px 0;
            display: block;
        }
    }
    &__badges {
        display: flex;
        @media only screen and (max-width: 640px) {
            justify-content: center;
        }
    }
    &__badge {
        padding-right: 10px;
        &:last-child {
            padding: 0;
        }
        &-gold {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #ffbd30;
            vertical-align: middle;
            margin: -2.5px 5px 0 0;
        }
        &-silver {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #d5d5d5;
            vertical-align: middle;
            margin: -2.5px 5px 0 0;
        }
        &-bronze {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #b18163;
            vertical-align: middle;
            margin: -2.5px 5px 0 0;
        }
    }
    &__since {
        color: #bbb;
    }
    &__num {
        font-size: 24px;
        display: block;
        font-weight: 300;
        color: #333;
        text-align: center;
        padding: 2px 0;
        @media only screen and (max-width: 640px) {
            padding-bottom: 10px;
        }
    }
    &__text {
        color: #bbb;
        font-size: 16px;
        font-weight: 400;
    }
}