.profile-top {
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
}
.profile-top__tools {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 3px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 800px) {
  .profile-top__tools {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.profile-top__wrapper {
  padding-top: 3px;
}
@media only screen and (max-width: 800px) {
  .profile-top__wrapper {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    text-align: center;
    padding: 0 0 10px 0;
  }
}
.profile-top__filter {
  text-decoration: none;
  padding: 0 6px 3px;
  color: #003;
}
.profile-top__filter_active {
  border-bottom: 1px solid #e16464;
  text-decoration: none;
  padding: 0 6px 3px;
  color: #003;
}
@media only screen and (max-width: 800px) {
  .profile-top__search {
    text-align: center;
    padding: 15px 10px 10px 5px;
  }
}
.profile-top__input {
  font-size: 14px;
  border: 1px solid #eaeaea;
  padding: 5px 25px 5px 10px;
  margin: 0;
}
@media only screen and (max-width: 800px) {
  .profile-top__input {
    width: 80%;
  }
}
.profile-top__button {
  background: url(https://www.consumercomplaints.in/fw/magn.png) 50% 50% no-repeat;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-left: -20px;
  vertical-align: middle;
  color: #105cb6;
  text-decoration: none;
}
.profile-top__list {
  padding: 0;
  margin-top: -5px;
  width: 100%;
}
.profile-top__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #eaeaea;
}
@media only screen and (max-width: 640px) {
  .profile-top__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.profile-top__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media only screen and (max-width: 640px) {
  .profile-top__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.profile-top__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media only screen and (max-width: 640px) {
  .profile-top__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.profile-top__image {
  width: 54px;
  height: 54px;
  background: tomato;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 700;
  margin-right: 15px;
}
@media only screen and (max-width: 640px) {
  .profile-top__image {
    margin: 0;
  }
}
.profile-top__info {
  font-size: 14px;
  color: #999;
}
.profile-top__name {
  text-decoration: none;
  color: green;
}
.profile-top__badges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 640px) {
  .profile-top__badges {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.profile-top__badge {
  padding-right: 10px;
}
.profile-top__badge:last-child {
  padding: 0;
}
.profile-top__badge-gold {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffbd30;
  vertical-align: middle;
  margin: -2.5px 5px 0 0;
}
.profile-top__badge-silver {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d5d5d5;
  vertical-align: middle;
  margin: -2.5px 5px 0 0;
}
.profile-top__badge-bronze {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #b18163;
  vertical-align: middle;
  margin: -2.5px 5px 0 0;
}
.profile-top__since {
  color: #bbb;
}
.profile-top__num {
  font-size: 24px;
  display: block;
  font-weight: 300;
  color: #333;
  text-align: center;
  padding: 2px 0;
}
.profile-top__text {
  color: #bbb;
  font-size: 16px;
  font-weight: 400;
}
